*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../style/hashira1.jpg.png);
    background-size:fixed;
    background-repeat: no-repeat;
    position: relative;

}


.container{
    
    padding:20px;
    padding-top:75px;
    padding-left:60px;

    width: 275px;
    height: 475px;
    
    margin:right;
    
    position: relative;
   
    
    
}

.box-1{
    
    background: transparent;
    color:white;
    border-right: 5px rgba(105, 105, 105, 0.568) solid ;
    border-left: 5px rgba(105, 105, 105, 0.568) solid ;
    border-top: 5px rgba(105, 105, 105, 0.568) solid ;
    border-bottom: 5px rgba(105, 105, 105, 0.568)solid ;

    border-width: 3px;
    border-bottom-width: 3px;
    border-top-style: solid;
    border-bottom-style:solid;

    padding:20px 20px;
    margin:20px;

    position: relative;
   
    
} 


.box-1 label{
    position:center;
    font-weight: bold;
    font: size 150px;
    padding:auto;
    text-align:center;
}

.box-1 label:hover{
    background:transparent;
    color:black;
}

.box-1 h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    font-style: bold;
    position:center;
}

.box-1 h1:hover{
    background:white;
    color:black;
}

#Logo{
    width: 420px;
    height: 250px;
   
    margin: top 40px;
    margin: left 40px;
    
    padding-left: 100px;
    padding-top: 40px;
    
    position: relative; 
    background-image:url(../style/log.png);
    background-position:top left;
    background-repeat:no-repeat;
    position: relative;
}

.myform{ 
    padding: 0px;
    text-align: center;
    display: block;
    color: rgb(255, 248, 248);
    font-weight: bold;
    font-size: 20px;


}
.myform.form-group{
    padding-bottom: 50px;
}

.myform input{
    padding : 5px;
    outline: none;
    border: none;
    text-align: center;
}

.myform:hover{
    box-shadow: #fff;
}

.button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px 15px;
    border: none;

}

.button:hover{
    background : transparent;
    color: #fff;
}

#main-footer {
    color:#fff;
    font-size:20px;
    font-weight:bold;
    padding-left:50px;
    padding-bottom: 100px;
    float:left;
    word-spacing:7px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
    
    
            
}

#main-footer p{
    display: inline;
}


@media(max-width:1000px){
    .container{
        width: 100%;
        float:none;
    }
    .box-1{
        width: 100%;
        float:none;

    }
}